body {
  background-color: #282c34;
  margin: 0px;
  padding: 0px;
}

p {
	padding: 0px;
	margin: 0px;
}

#container {
	background-color: #ECECEC;
	height: 100%;
	width: 1200px;
	margin-left: calc((100% - 1200px) / 2);
	position: fixed;
	float: left;
}

#header{
	background-color: #016064;
	height: 180px;
	width: 100%;
	float: left;
	font-family: verdana;
	text-align: center;
	padding-top: 40px;
  color: #ECECEC;
}

#main {
	background-color: #ECECEC;
	float: left;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#navigation {
	padding: 0px;
	margin: 0px;
	height: 50px;
	width: 100%;
	float: left;
}

.button {
	float: left;
	width: 25%;
	height: 50px;
	padding-top: 13px;
	text-align: center;
	list-style-type: none;
	font-family: verdana;
  color: #ECECEC;
  background-color: #48AAAD;
}

.button:hover{
  background-color: #59788E;
}

.results{
	font-family: verdana;
}

.characters {
	width: 33%;
	float: left;
	margin-top: 50px;
	text-align: center;
}

.locations {
	background-color: lightgrey;
	border-radius: 25px;
	width: 30%;
	float: left;
	margin-top: 5%;
	margin-left: 8%;
	padding: 4%;
	text-align: left;
}

.episodes {
	background-color: lightgrey;
	border-radius: 25px;
	width: 30%;
	float: left;
	margin-top: 5%;
	margin-left: 8%;
	padding: 4%;
	text-align: left;
}