body {
	background-color: #282c34;
  margin: 0px;
  padding: 0px;
}

p {
	padding: 0px;
	margin: 0px;
	font-family: verdana;
}

#light p{
	color: black;
}

#dark p{
	color: white;
}

.container {
	height: 100%;
	width: 1200px;
	margin-left: calc((100% - 1200px) / 2);
	position: fixed;
	float: left;
}

#light {
	background-color: #ECECEC;
}

#dark {
	background-color: #3A3B3C;
}

.header{
	height: 180px;
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 40px;
	font-family: verdana;
  color: #ECECEC;
}

#light .header {
	background-color: #016064;
}
#dark .header {
		background-color: #022D36;
}

.main {
	float: left;
  height: 100%;
  width: 100%;
  margin-top: 16px;
  overflow-y: auto;
}

.navigation {
	padding: 0px;
	margin: 0px;
	height: 50px;
	width: 100%;
	float: left;
	font-family: verdana;
}

.button {
	float: left;
	width: 25%;
	height: 50px;
	padding-top: 16px;
	text-align: center;
	list-style-type: none;
  color: #ECECEC;
}

#light .button {
	background-color: #48AAAD;
}
#dark .button {
		background-color: #016064;
}

#light .button:hover{
  background-color: #59788E;
}
#dark .button:hover{
  background-color: #59788E;
}

.characters {
	width: 33%;
	float: left;
	margin-top: 50px;
	text-align: center;
}

.locations {
	border-radius: 25px;
	width: 30%;
	float: left;
	margin-top: 5%;
	margin-left: 8%;
	padding: 4%;
	text-align: left;
}

#light .locations {
	background-color: lightgrey;
}
#dark .locations {
	background-color: darkgrey;
}

.episodes {
	border-radius: 25px;
	width: 30%;
	float: left;
	margin-top: 5%;
	margin-left: 8%;
	padding: 4%;
	text-align: left;
}

#light .episodes {
	background-color: lightgrey;
}
#dark .episodes {
	background-color: darkgrey;
}

.homepage {
	text-align: center;
}